html{
    font-family: Enchant;
    text-align: center;
    font-size: 50px;
    background-color: #184e77;
    color:   #ADf1d2;
    
}
#contators{
    position: relative;
   
}
#greeting{
    font-family: smallMemory;
    font-size: 140px;
    color:#76c893;
}
#Alias{
    font-size: 80px;
    color: #d9ed92;
}
#Bio{
    position: relative;
    font-size: 60px;
}
.Sexuality{
    position:relative;
    font-weight: bolder;
    color: #000b2e;
    background-image: url("CSS/AQSexuality.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
   
}
#informationS{
    color: #efd5c3;
    text-align: center;
}
.Gender{
    position: relative;

    background-image: url("Css/Genderfluid-Nonbinary.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
}
#informationG{
    color: #aac0af;
}
footer{
    color: #070707;
    font-size: 20px;
}

@font-face{
    font-family: Enchant;
    src: url(CSS/Enchanted\ Land.otf)
}

@font-face {
    font-family: smallMemory;
    src: url(CSS/SmallMemory.ttf);
}

