body{
    margin: 10 px;
    padding: 10 px;
    background-image: url("./Images/spooky-forest-png-7.jpg");
    background-position: left top, right bottom, center;
    background-attachment: fixed;
    background-size: 300 px, 230 px, cover;
    background-repeat: no-repeat;

}
p{
    color :B5D98F ;
    margin: 10 px;
    padding: 10 px;
    
    
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    border: solid 1 px #C3D8E4;
    border-radius: 7 px;
    padding: 5 px;
    cursor: pointer;
    }
    nav ul li:hover{
        background-color: #F8E4EF;
        color: #34410f;
    }
    
    nav ul li a{
        text-decoration: none;
        color: #34410f;
    }

