html{
    font-family: Enchant;
    text-align: center;
    font-size: 50px;
    background-color: #184e77;
    color:   #ADf1d2;
    background-image: url("http://pa1.narvii.com/6596/13a0ea190ec4ec6134eec6b291899fca611ef6c5_00.gif"), url("https://media4.giphy.com/media/djLNrYxkt6a9EA5YVi/giphy.gif?cid=ecf05e475cwg7ytfr520h42gxf48phflp2y1x60cooq98plm&rid=giphy.gif&ct=g"),url("./Images/vinesBackground.png");
    background-attachment: fixed;
    background-size: 300px,100px ,cover;
    background-repeat: no-repeat;
    
}
#contators{
    position: relative;
   
}
#greeting{
    font-family: smallMemory;
    font-size: 140px;
    color:#76c893;
}
#Alias{
    font-size: 95px;
    color: #d9ed92;
}
#Bio{
    position: relative;
    font-size: 60px;
}
.Sexuality{
    position:relative;
    font-weight: bolder;
    color: #000b2e;
    background-image: url("./Images/AQSexuality.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
   
}
#informationS{
    color: #efd5c3;
    text-align: center;
}
.Gender{
    margin-top: 100px;
    position: relative;

    background-image: url("./Images/UpsideRainbow.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: fit-content;
   
    
}
#informationG{
    color: #ffd500;
}
footer{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    color: #fffae5;
    font-size: 20px;
}

@font-face{
    font-family: Enchant;
    src: url(./Enchanted\ Land.otf)
}

@font-face {
    font-family: smallMemory;
    src: url(./SmallMemory.ttf);
}

