html{
    background-color: #fff6cc;
}
.textSizeTitle
{
font-size: xx-large;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    border: solid 1 px #C3D8E4;
    border-radius: 7 px;
    padding: 5 px;
    cursor: pointer;
    }
    nav ul li:hover{
        background-color: #F8E4EF;
        color: #46313D;
    }
    
    nav ul li a{
        text-decoration: none;
        color: #46313D;
    }
