html{
    font-family: Enchant;
    text-align: center;
    font-size: 50px;
    background-color: #184e77;
    color:   #ADf1d2;
    background-image: url("./CSSImages/backgroundVines.jpg"),url("http://pa1.narvii.com/6596/13a0ea190ec4ec6134eec6b291899fca611ef6c5_00.gif");
    
    background-repeat: no-repeat;
    background-size: 300px;
}
#contators{
    position: relative;
   
}
#greeting{
    font-family: smallMemory;
    font-size: 140px;
    color:#76c893;
}
#Alias{
    font-size: 80px;
    color: #d9ed92;
}
#Bio{
    position: relative;
    font-size: 60px;
}
.Sexuality{
    position:relative;
    font-weight: bolder;
    color: #000b2e;
    background-image: url("./CSSImages/AQSexuality.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
   
}
#informationS{
    color: #efd5c3;
    text-align: center;
}
.Gender{
    margin-top: 100px;
    position: relative;

    background-image: url("./CSSImages/UpsideRainbow.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: fit-content;
   
    
}
#informationG{
    color: #aac0af;
}
footer{
    color: #070707;
    font-size: 20px;
}

@font-face{
    font-family: Enchant;
    src: url(./CSSImages/Enchanted\ Land.otf)
}

@font-face {
    font-family: smallMemory;
    src: url(./CSSImages/SmallMemory.ttf);
}

